*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.title-1{
    width: 100%;
    height: 100vh;
    background-image: url(black-and-white,e-living-room/rm373batch15-element-02.jpg.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;  
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:  #414dc0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.title-2{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title-2 h1{

    FONT-SIZE: 70px;
    margin-top: 80px;
    font-family: algerian;
    color: #14bb1d;

}
.title-2 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}
button{
    WIDTH: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:red;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background-color: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover{
    color: black;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
button:hover:active span{
    opacity: 0.5;
}
.dis-1{
  color:  rgba(145, 6, 6, 0.836);
  padding-top: 0;
  padding-left: 500px;
  border-color: gold;
  WIDTH: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-family: arial black;
  border: 2px solid #000000;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  opacity: 1.4;
  transition: 1.5s;
  position:relative;
  overflow:hidden;

}
.dis-1:hover{
    color: aquamarine;
    text-transform: uppercase;
    transition: 1.5s;
}
.dis-1:hover span{
    width: 100%;
}
.dis-1:hover:active span{
    opacity: 0.5;
}
.dis-1:hover{
    border: none;
}
.title-2 h1{
    color: grey;
    font-family:algerian;
}
.title-2 div{
    color: rgb(231, 99, 231);
}

   
